@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfbfb;
  overflow-x: hidden;
}

/* Custom Scrollbar for a more premium look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fdfbfb;
}
::-webkit-scrollbar-thumb {
  background: #fbcfe8;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f472b6;
}
